<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
              </ion-buttons>
    <ion-title>childProfile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div class="author">
        <a href="#">
       <img class="avatar border-gray" src="../assets/icon/favicon.png" alt="...">
           <h5 class="title">Jeevan </h5>
       </a>
       <p class="description">
           Educator at main office
       </p>
       <p class="city">
          Bangalore
      </p>
      <p class="pincode">
          560001
      </p>
   </div>
    

</ion-content>
