<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <div style="text-align:center">
            <h1>
              Welcome to {{ pop }}!
            </h1>           
          <div>
            <div>
              <form [formGroup] = "formdata"
                   (ngSubmit) = "onClickSubmit(formdata.value)" >
          
                      <input type = "text" class = "form" name = "emailid" placeholder = "emailid" 
                      formControlName="emailid">
          
                  <div class="validation-errors">
                    
                      <ng-container *ngFor="let validation of validation_messages.emailid">
                          <div class="error-message" *ngIf="formdata.get('emailid').hasError(validation.type) && (formdata.get('emailid').dirty || formdata.get('emailid').touched)">
                            {{ validation.message }}
                          </div>
                        </ng-container>
                  </div>
          
                 <br/>
                 
                 <input type = "password" class = "fortextbox" name="passwd" 
                    placeholder = "passwd" formControlName = "passwd">
          
                    <div class="validation-errors">
                    
                        <ng-container *ngFor="let validation of validation_messages.password">
                            <div class="error-message" *ngIf="formdata.get('passwd').hasError(validation.type) && (formdata.get('passwd').dirty || formdata.get('passwd').touched)">
                              {{ validation.message }}
                            </div>
                          </ng-container>
                    </div>
                 <br/><br/>
                 
                 <input type = "submit"  [disabled] = "!formdata.valid" class = "forsubmit" value = "Log In">
              </form>
           </div>
           <p>
              Email entered is : {{emailid}}
          
           </p>
          </div>
          </div>
          
          <div>
          
            
          </div>
    </ion-list>

    <!-- for childs details -->
    <ion-list>
      <div style="text-align:center">
          <h1>
            Welcome to {{ title }}!
          </h1>           

            <form [formGroup] = "ch_formdata"
                 (ngSubmit) = "onClickSubmit(ch_formdata.value)" >
        
                    <input type = "text" class = "form" name = "ch_name" placeholder = "Name" 
                    formControlName="ch_name">
        
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of child_validation_msg.ch_name">
                        <div class="error-message" *ngIf="ch_formdata.get('ch_name').hasError(validation.type) && (ch_formdata.get('ch_name').dirty || ch_formdata.get('ch_name').touched)">
                          {{ validation.message }}
                        </div>
                      </ng-container>
                </div>
        
               <br/>
               <input type = "text" class = "fortextbox" name="ch_city" 
                  placeholder = "city name" formControlName = "ch_city">
        
                  <div class="validation-errors">
                  
                      <ng-container *ngFor="let validation of child_validation_msg.ch_city">
                          <div class="error-message" *ngIf="ch_formdata.get('ch_city').hasError(validation.type) && (ch_formdata.get('ch_city').dirty || ch_formdata.get('ch_city').touched)">
                            {{ validation.message }}
                          </div>
                        </ng-container>
                  </div>
               <br/>
               
               <input type = "number" class = "fortextbox" name="ch_age" 
               placeholder = "age enter" formControlName = "ch_age">
     
               <div class="validation-errors">
               
                   <ng-container *ngFor="let validation of child_validation_msg.ch_age">
                       <div class="error-message" *ngIf="ch_formdata.get('ch_age').hasError(validation.type) && (ch_formdata.get('ch_age').dirty || ch_formdata.get('ch_age').touched)">
                         {{ validation.message }}
                       </div>
                     </ng-container>
               </div>
            <br/>
            
<!--               
            <ion-item>
              <ion-label>Gender</ion-label>
              <ion-select [(ngModel)]="ch_gender" placeholder="Select One">
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
              </ion-select>
            </ion-item>
            
            <ion-item>
              <ion-label>Choose class std :{{ch_class}}</ion-label>
              <ion-select [(ngModel)]="ch_class"  placeholder="Select">
                <ion-select-option value="std3">3 std</ion-select-option>
                <ion-select-option value="std4">4 std</ion-select-option>
                <ion-select-option value="std5">5 std</ion-select-option>
                <ion-select-option value="std6">6 std</ion-select-option>
                <ion-select-option value="std7">7 std</ion-select-option>
                <ion-select-option value="std8">8 std</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>Choose school  :{{ch_school}}</ion-label>
              <ion-select [(ngModel)]="ch_school" formControlName = "ch_school" placeholder="Select">
                <ion-select-option value="std3">3 std</ion-select-option>
                <ion-select-option value="std4">4 std</ion-select-option>
                <ion-select-option value="std5">5 std</ion-select-option>
                <ion-select-option value="std6">6 std</ion-select-option>
                <ion-select-option value="std7">7 std</ion-select-option>
                <ion-select-option value="std8">8 std</ion-select-option>
              </ion-select>
            </ion-item> 
          -->

            <input type = "text" class = "fortextbox" name="ch_userid" 
            placeholder = " user id" formControlName = "ch_userid">
  
            <div class="validation-errors">
            
                <ng-container *ngFor="let validation of child_validation_msg.ch_userid">
                    <div class="error-message" *ngIf="ch_formdata.get('ch_userid').hasError(validation.type) && (ch_formdata.get('ch_userid').dirty || ch_formdata.get('ch_userid').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
            </div>
         <br/>
             
         <input type = "password" class = "fortextbox" name="ch_password" 
         placeholder = "password " formControlName = "ch_password">
         <div class="validation-errors">

             <ng-container *ngFor="let validation of child_validation_msg.ch_password">
                 <div class="error-message" *ngIf="ch_formdata.get('ch_password').hasError(validation.type) && (ch_formdata.get('ch_password').dirty || ch_formdata.get('ch_password').touched)">
                   {{ validation.message }}
                 </div>
               </ng-container>
         </div>
               <br/>
               <br/>
               <input type = "submit"  [disabled] = "!ch_formdata.valid" class = "forsubmit" value = "Add child">
            </form>
        
        </div>
  </ion-list>
  
</ion-content>
