<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- This is default embed 

       <iframe width="560" height="315"
      src="https://www.youtube.com/embed/KVngsAZ-VvA"
       frameborder="0" allow="accelerometer; 
      autoplay; encrypted-media; gyroscope; 
      picture-in-picture" 
      allowfullscreen>
  </iframe> 
-->

    <iframe 
     src="//www.youtube.com/embed/KVngsAZ-VvA?rel=0&showinfo=0&autohide=1"
     
      frameborder="0" allow="accelerometer; 
      autoplay; encrypted-media; gyroscope; 
      picture-in-picture" 
    allowfullscreen>
  </iframe>
  <ion-button size="small" (click)="openVideo()">Open Video Player</ion-button>
</ion-content>
